<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layouts::header}"></head>
<body  style="background-color: cadetblue">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Javascript required for page to run.
    Please enable Javascript and reload this page!</h2></noscript>
<nav th:replace="layouts::navbar"></nav>

<div class="container bg-primary-subtle">
    <br>
    <div class="row">
        <div class="text-center">
            <img th:src="@{images/explorer.png}" class="img-fluid rounded-3 w-50 border-dark" alt="...">
        </div>
    </div>
    <br>
    <hr>
</div>
</body>
</html>