<!doctype html>
<html lang="EN">
<head th:replace="~{layouts::header}"></head>
<body class='snippet-body'>
    <nav th:replace="layouts::navbar"></nav>
    <div class="container w-75 my-3">
        <div class="row card w-75 text-center">
            <div id="question-header" class="text-center py-3">
                <div style="display: none">
                    <img th:src="@{images/explorer.png}" class="img-fluid rounded-3 w-50 border-dark" alt="...">
                </div>
                <h3 id="question" class="text-center">Q. Questions come here...?</h3>
            </div>
            <hr>
            <div class="quiz text-center" id="quiz-answers" data-toggle="buttons">
                <div id="question-options" style="display: block">
                    <div class="py-2">
                        <label class="element-animation1 btn btn-lg btn-primary btn-block" >
                            <span class="btn-label">
                                <img width="60" height="60" src="https://img.icons8.com/wired/64/FFFFFF/chevron-right.png" alt="chevron-right"/>
                            </span>
                            <input type="radio" name="q_answer" value="1">
                            <span id="option-1"></span>
                        </label>
                    </div>
                    <div class="py-2">
                        <label class="element-animation2 btn btn-lg btn-primary btn-block">
                            <span class="btn-label">
                                            <img width="60" height="60" src="https://img.icons8.com/wired/64/FFFFFF/chevron-right.png" alt="chevron-right"/>
                                        </span>
                            <input type="radio" name="q_answer" value="2">
                            <span id="option-2"></span>
                        </label>
                    </div>
                    <div class="py-2">
                        <label class="element-animation3 btn btn-lg btn-primary btn-block">
                            <span class="btn-label">
                                            <img width="60" height="60" src="https://img.icons8.com/wired/64/FFFFFF/chevron-right.png" alt="chevron-right"/>
                                        </span>
                            <input type="radio" name="q_answer" value="3">
                            <span id="option-3"></span>
                        </label>
                    </div>
                    <div class="py-2">
                        <label class="element-animation4 btn btn-lg btn-primary btn-block">
                            <span class="btn-label">
                                <img width="60" height="60" src="https://img.icons8.com/wired/64/FFFFFF/chevron-right.png" alt="chevron-right"/>
                            </span>
                            <input type="radio" name="q_answer" value="4">
                            <span id="option-4"></span>
                        </label>
                    </div>
                </div>
                <hr>
                <div id="clock-buttons" class="text-center">
                    <div id="myProgress">
                        <div id="myBar"></div>
                    </div>
                    <div class="my-3">
                        <button id="startButton" class="btn btn-lg btn-success">Start</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <a id="exitButton" class="btn btn-lg btn-danger" href="/game">
                <button class="btn btn-danger">Exit</button>
            </a>
        </div>
    </div>
    <script type='text/javascript'>
    const questions = "[[${questions}]]";
</script>
    <script th:replace="layouts::bootstrap_js"></script>
    <script type="text/javascript" th:src="@{js/game.js}"></script>
</body>
</html>