<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts::head">
    <title>
        PMA - Employees
    </title>
</head>
<body>
<nav th:replace="layouts::navbar"></nav>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th colspan="4" class="text-center h4">Employees</th>
        </tr>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(employees)}">
            <td colspan="3" class="text-center">No Employee Available</td>
        </tr>
        <!--Loop through all employees and display them in the table-->
        <tr th:if="${not #lists.isEmpty(employees)}" th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
        <tr>
           <th colspan="4" class="text-center h4">
                <a class="btn btn-primary" href="/employees/new">Add New Employee</a>
           </th>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>