<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layouts::header}"></head>
<body>
<nav th:replace="layouts::navbar"></nav>
<div class="container">
    <br>
    <h4>New Employee</h4>
    <form class="row g-3" th:action="@{/employees/save}" th:object="${employee}" method="post">
        <div class="col-md-6">
            <label class="form-label" for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name"
                   th:field="${employee.firstName}">
        </div>
        <div class="col-md-6">
            <label class="form-label" for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                   th:field="${employee.lastName}">
        </div>
        <div class="col-md-12">
            <label class="form-label" for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email"
                   th:field="${employee.email}">
        </div>
        <div class="col-md-12">
            <label for="submit" class="visually-hidden"></label>
            <input class="btn btn-success" type="submit" value="Create" id="submit">
        </div>
    </form>
</div>
<script th:replace="layouts::bootstrap_js"></script>
</body>
</html>